{% extends "panel/basetemp.html" %}
{% load static  %}
{% block title %}Home Page{% endblock  %}
{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
        >
      <div class="col-md-12 text-center">
        <h3 class="fw-bold mb-3">Offers</h3>
        <h6 class="op-7 mb-2">Update Offers </h6>
      </div>
     
    </div>
    <div class="row bg-white">
        
        <form method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
            {% csrf_token %}
            <div class="row g-3">
                <!-- Category Name -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Offer Title</label>
                    <input type="text" class="form-control" name="offer_title" value="{{ offers.title }}" placeholder="Enter Title" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Offer Code</label>
                    <input type="text" class="form-control" name="offer_code" value="{{ offers.offer_code }}" placeholder="Enter Title" required>
                </div>
                <!-- Category Description -->
                <div class="col-md-12">
                    <label class="form-label fw-semibold">Offer Description</label>
                    <textarea class="form-control" rows="4" class="form-control" name="offer_describ" placeholder="Enter Description" required>{{ offers.describ }}</textarea>
                </div>
                <!-- Parent Category -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Start date</label>
                    <input type="date" class="form-control" value="{{offers.start_date|default:''|date:'Y-m-d'  }}" name="sdate" placeholder="Start Date" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-semibold">End Date</label>
                    <input type="date" class="form-control" value="{{ offers.end_date|default:''|date:'Y-m-d' }}" name="edate" placeholder="End Date" required>
                </div>
                <!-- Sub Category -->
                {% comment %} <div class="col-md-6">
                    <label class="form-label fw-semibold">Sub Category</label>
                    <select class="form-select" name="subCategory" id="subCategory" required>
                        <option value="0">None</option>
                    </select>
                </div> {% endcomment %}
                <!-- Category Image -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Category Image</label>
                    <input type="file" class="form-control" name="myfile">
                   
                </div>
                <!-- Availability -->
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-3 fw-semibold">Availability:</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" {% if offers.status == 1 %}checked{% endif %} name="catAvailability" value="1" required checked>
                        <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" {% if offers.status == 0 %}checked{% endif %} name="catAvailability" value="0" required>
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="hidden" name="hidimage" value="{{offers.image}}">
                    <img src="{{offers.image}}" width="100px" height="100px">
                   
                </div>
                <!-- Submit Button -->
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary px-4">Update</button>
                </div>
            </div>
        </form>        

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        {% if msgs %}
        $.notify({
            icon: 'icon-bell',
            title: 'Dear Admin',
            message: '{{msgs}}',
          },{
            type: 'secondary',
            placement: {
              from: "bottom",
              align: "right"
            },
            time: 1000,
          });
        
        {% endif %}

        {% if messages %}
    {% for message in messages %}
        <script>
            $.notify({
                icon: 'icon-bell',
                title: 'User',
                message: '{{ message }}',
            },{
                type: 'secondary',
                placement: {
                    from: "bottom",
                    align: "right"
                },
                time: 1000,
            });
        </script>
    {% endfor %}
{% endif %}
    });
</script>
{% endblock %}