{% extends "panel/basetemp.html" %}
{% load static  %}
{% block title %}Products{% endblock  %}
{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
        >
      <div class="text-center my-2 col-sm-12">
        <h3 class="fw-bold mb-3">Products</h3>
        <h6 class="op-7 mb-2">Create Products </h6>
      </div>
     
    </div>
    <div class="row bg-white">
        {% comment %} <div class="title text-center h3 my-3">Product Creation</div> {% endcomment %}
        <form method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
            {% csrf_token %}
            <div class="row g-3">
                <!-- Product Name -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Product Name</label>
                    <input type="text" class="form-control" name="prod_name" value="{{ product.prod_name }}" placeholder="Enter Product Name" required>
                </div>
                <!-- Brand -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Brand</label>
                    <select class="form-select" name="brand" id="brand" required  data-selected="{{ product.brand }}">
                        <option value="">--Select Brand--</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <label class="form-label fw-semibold">Product Description</label>
                    <textarea class="form-control" rows="4" class="form-control" name="describe" placeholder="Enter Description" required> {{ product.describ }}</textarea>
                </div>

                <!-- Category -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Parent Category</label>
                    <select class="form-select" name="catParent" id="catParent" onchange="getsubs(this.value)" required data-selected="{{ product.parent_cat }}">
                        <option value="">--Select Parent Category--</option>
                        <option value="0">Parent</option>
                    </select>
                </div>
                <!-- Sub Category -->
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Sub Category</label>
                    <select class="form-select" name="subCategory" data-selected="{{ product.sub_cat }}" id="subCategory" required onchange="getsubsub(this.value)">
                        <option value="0">None</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Sub Sub Category</label>
                    <select class="form-select" name="subsubCategory" data-selected="{{ product.sub_sub_cat }}" id="subsubCategory" required>
                        <option value="0">None</option>
                    </select>
                </div>
                <!-- Price -->
                {% comment %} <div class="col-md-6">
                    <label class="form-label fw-semibold">Base Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter Price" required>
                </div> {% endcomment %}
                <!-- Stock -->
                {% comment %} <div class="col-md-6">
                    <label class="form-label fw-semibold">Quantity</label>
                    <input type="number" class="form-control" name="stock" placeholder="Enter Stock Quantity" required>
                </div> {% endcomment %}
                {% comment %} <div class="col-md-6">
                    <label class="form-label fw-semibold">Size</label>
                    <input type="text" class="form-control" name="size" placeholder="Enter Stock Quantity" required>
                </div> {% endcomment %}
                <!-- Image -->
                {% comment %} <div class="col-md-6">
                    <label class="form-label fw-semibold">Product Image</label>
                    <input type="file" class="form-control" name="myfile">
                </div> {% endcomment %}
                <div class="col-md-6">
                    <label class="form-label fw-semibold">Product Image</label>
                    <input type="file" class="form-control" name="myfile">
                   
                </div>
                <!-- Availability -->
                <div class="col-md-6 d-flex align-items-center">
                    <label class="form-label me-3 fw-semibold">Availability:</label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" {% if products.status == 1 %}checked{% endif %} name="catAvailability" value="1" required checked>
                        <label class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" {% if products.status == 0 %}checked{% endif %} name="catAvailability" value="0" required>
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="hidden" name="hidimage" value="{{product.image}}">
                    <img src="{{product.image}}" width="100px" height="100px">
                   
                </div>

                <!-- Submit Button -->
                <div class="col-12 text-center mt-3">
                    <button type="submit" class="btn btn-primary px-4">Create</button>
                </div>
            </div>
        </form>        
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function callparent(selectedp) {
        $.ajax({
            url: "{% url 'parentcat' %}",
            dataType: "JSON",
            type: "GET",
            success: function (response) {
                var create = "<option value=''>--Select Parent Category--</option>";
                if(selectedp=="None"){
                    create+="<option value='0' selected>Parent</option>"
                }else{
                    create+="<option value='0'>Parent</option>"
                }
                $.each(response, function (index, parent) {
                    if (selectedp == parent.id.toString()) {
                        create += "<option value='" + parent.id + "' selected>" + parent.cat_name + "</option>";
                    } else {
                        create += "<option value='" + parent.id + "'>" + parent.cat_name + "</option>";
                    }
                });
                $("#catParent").html(create);
            }
        });
    }

    function callbrands(value){
        $.ajax({
            url: "{% url 'get-brands' %}",
            dataType: "JSON",
            type: "GET",
            success: function(response) {
                var create = "<option value=''>Select Brand</option>";
                $.each(response, function(index, parent) {
                    if(value==parent.id){

                        create += "<option value='" + parent.id + "' selected>" + parent.name + "</option>";
                    }else{
                        create += "<option value='" + parent.id + "' selected>" + parent.name + "</option>";

                    }
                });
                $("#brand").html(create);
            }
        });
    }
    {% comment %} callbrands(); {% endcomment %}

    function getsubs(value, selecteds) {
        $.ajax({
            url: "{% url 'sub_cat' %}",
            data: { val: value },
            dataType: "JSON",
            type: "GET",
            success: function (response) {

                var create = "";
                if(selecteds=="None"){
                    create+="<option value='0' selected>None</option>"
                }else{
                    create+="<option value='0'>None</option>"
                }
                $.each(response, function (index, sub) {
                    if (selecteds == sub.id.toString()) {
                        create += "<option value='" + sub.id + "' selected>" + sub.cat_name + "</option>";
                    } else {
                        create += "<option value='" + sub.id + "'>" + sub.cat_name + "</option>";
                    }
                });
                $("#subCategory").html(create);
            }
        });
    }

    function getsubsub(value,selectedsub,parent){
        if(selectedsub !='None'){

            var parent=parent
            $.ajax({
                url: "{% url 'sub_sub_cat' %}",
                data: { val:parent, get:value }, 
                dataType: "JSON",
                type: "GET",
                success: function(response) {
                    var create = "<option value=''>Select Sub Sub Category</option><option value='0'>None</option>";
                    $.each(response, function(index, sub) {
                        if(selectedsub==sub.id){
                            create += "<option value='" + sub.id + "' selected>" + sub.cat_name + "</option>";     
                        }
                        create += "<option value='" + sub.id + "'>" + sub.cat_name + "</option>";
                    });
                    $("#subsubCategory").html(create);
                }
            });
        }else{
            var create = "<option value=''>Select Sub Sub Category</option><option value='0' selected>None</option>";
            $("#subsubCategory").html(create);
        }
    }
    $(document).ready(function(){
        var selectedp = $("#catParent").attr("data-selected");
        var selecteds = $("#subCategory").attr("data-selected");
        var selectedsub = $("#subsubCategory").attr("data-selected");
        var brand = $("#brand").attr("data-selected");
    
        if (selectedp) {
            callparent(selectedp);
            callbrands(brand)
            if (selecteds) {
                getsubs(selectedp, selecteds);
                if(selectedsub){
                    getsubsub(selecteds,selectedsub,selectedp)
                }else{
                    var create = "<option value=''>Select Sub Sub Category</option><option value='0' selected>None</option>";
                    $("#subsubCategory").html(create);
                }
            }
        }
        {% if msgs %}
        $.notify({
            icon: 'icon-bell',
            title: 'Dear Admin',
            message: '{{msgs}}',
          },{
            type: 'secondary',
            placement: {
              from: "bottom",
              align: "right"
            },
            time: 1000,
          });
        
        {% endif %}

        {% if messages %}
    {% for message in messages %}
        <script>
            $.notify({
                icon: 'icon-bell',
                title: 'Dear Admin',
                message: '{{ message }}',
            },{
                type: 'secondary',
                placement: {
                    from: "bottom",
                    align: "right"
                },
                time: 1000,
            });
        </script>
    {% endfor %}
{% endif %}
    });
</script>
{% endblock %}