{% extends "web/base.html" %}
{% load static  %}
{% block title %}Contact Us{% endblock  %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./"><i class="fa fa-home"></i> Home</a>
                        <span>About us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <p>Welcome to Artisan's Verse – a heartfelt marketplace where tradition meets creativity, and every purchase tells a story.

                        We're more than just an online shop. We're a community-powered project born from a passion for handmade artistry and a commitment to uplifting local artisans. Each piece in our collection is lovingly crafted by skilled makers from diverse cultural backgrounds, using time-honored techniques passed down through generations.</p>
                    
                  
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{% endblock  %}