{% extends "web/base.html" %}
{% load static  %}
{% block title %}Cart{% endblock  %}
{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <style>
        a:hover {
            color: #0d0d0d;
            text-decoration: underline;
        }
    </style>
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                    {% for message in messages %}
                        <tr><div class="text-center alert alert-{{ message.tags }}">
                            {{ message }}
                        </div> </tr>
                    {% endfor %}
                {% endif %}
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_items %}
                                {% for cart in cart_items %}

                                <tr>
                                    <td class="cart__product__item">
                                        <img src="{{cart.8}}" alt="">
                                        <div class="cart__product__item__title d-flex align-items-center">
                                            <h6>{{cart.3}}</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">&#8377; {{cart.4}}</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="{{cart.1}}">
                                        </div>
                                    </td>
                                    <td class="cart__total">&#8377; {{ cart.9 }}</td>
                                    <td class="cart__close"><a href="{%url 'delete_cart' cart.0%}"><span class="icon_close"></span></a></td>
                                </tr>
                                
                                {% endfor %}
                                {% endif %}
                                {% comment %} <tr>
                                    <td class="cart__product__item">
                                        <img src="{% static 'web/img/shop-cart/cp-2.jpg' %}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>Japanese Spring</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 170.0</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ 170.0</td>
                                    <td class="cart__close"><span class="icon_close"></span></td>
                                </tr> {% endcomment %}
                                {% comment %} <tr>
                                    <td class="cart__product__item">
                                        <img src="{% static 'web/img/shop-cart/cp-3.jpg' %}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>Mountains</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 85.0</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ 170.0</td>
                                    <td class="cart__close"><span class="icon_close"></span></td>
                                </tr>
                                <tr>
                                    <td class="cart__product__item">
                                        <img src="{% static 'web/img/shop-cart/cp-4.jpg' %}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>Mountains</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 55.0</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ 110.0</td>
                                    <td class="cart__close"><span class="icon_close"></span></td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{%url 'index'%}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="{%url 'clear_cart'%}"><span class="icon_loading"></span> Clear Cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        {% if cart_items %}
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>&#8377;{{ sub_total }}</span></li>
                            <li>shipping <span>&#8377;{{ shipping }}</span></li>
                            <li>Total <span>&#8377; {{ total }}</span></li>
                        </ul>
                        <a href="{%url 'checkout'%}" class="primary-btn">Proceed to checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
    {% endblock  %}